<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="desktopAndMobile" thread-count="2" parallel="tests">
    <!-- DESKTOP -->
    <test name="desktopChrome">
        <parameter name="isMobile" value="false" />
        <parameter name="browserType" value="chrome" />
        <classes>
            <class name="ge.tbc.testautomation.tests.OffersTest" />
            <class name="ge.tbc.testautomation.tests.LocationsTest" />
            <class name="ge.tbc.testautomation.tests.IntegrationTest" />
            <class name="ge.tbc.testautomation.tests.MoneyTransferFeesTest" />
        </classes>
    </test>
    <test name="desktopFirefox">
        <parameter name="isMobile" value="false" />
        <parameter name="browserType" value="firefox" />
        <classes>
            <class name="ge.tbc.testautomation.tests.OffersTest" />
            <class name="ge.tbc.testautomation.tests.LocationsTest" />
            <class name="ge.tbc.testautomation.tests.IntegrationTest" />
            <class name="ge.tbc.testautomation.tests.MoneyTransferFeesTest" />
        </classes>
    </test>
    <test name="desktopWebkit">
        <parameter name="isMobile" value="false" />
        <parameter name="browserType" value="webkit" />
        <classes>
            <class name="ge.tbc.testautomation.tests.OffersTest" />
            <class name="ge.tbc.testautomation.tests.LocationsTest" />
            <class name="ge.tbc.testautomation.tests.IntegrationTest" />
            <class name="ge.tbc.testautomation.tests.MoneyTransferFeesTest" />
        </classes>
    </test>

    <!-- MOBILE -->
    <test name="mobileFirefox">
        <parameter name="isMobile" value="true" />
        <parameter name="browserType" value="firefox" />
        <classes>
            <class name="ge.tbc.testautomation.tests.OffersTest" />
            <class name="ge.tbc.testautomation.tests.LocationsTest" />
            <class name="ge.tbc.testautomation.tests.IntegrationTest" />
            <class name="ge.tbc.testautomation.tests.MoneyTransferFeesTest" />
        </classes>
    </test>
    <test name="mobileWebkit">
        <parameter name="isMobile" value="true" />
        <parameter name="browserType" value="webkit" />
        <classes>
            <class name="ge.tbc.testautomation.tests.OffersTest" />
            <class name="ge.tbc.testautomation.tests.LocationsTest" />
            <class name="ge.tbc.testautomation.tests.IntegrationTest" />
            <class name="ge.tbc.testautomation.tests.MoneyTransferFeesTest" />
        </classes>
    </test>

    <!-- API -->
    <test name="api">
        <classes>
            <class name="ge.tbc.testautomation.tests.ApiTests" />
        </classes>
    </test>
</suite>